@import "~@srcery-colors/srcery-palette";

html {
    background-color: var(--srcery-palette-primary-black);
    color: var(--srcery-palette-primary-bright-white);
}

.center {
    max-width: 80rem;
    margin: 1rem auto;
    padding: 1rem 1rem;
    background-color: var(--srcery-palette-secondary-xgray1);
    border: 1px solid var(--srcery-pallete-primary-black);
    box-shadow: 4px var(--srcery-pallete-secondary-hard-black);
}

.header {
    display: flex;
    margin: auto auto;
    padding: 1rem 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
}

.nav-button {
    background-color: var(--srcery-palette-secondary-xgray3);
    border: 1px solid var(--srcery-palette-primary-black);
    box-shadow: 1px var(--srcery-palette-primary-xgray1);
    text-align: center;
    padding: 1rem 4rem;
    margin: 1rem 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
}

.nav-button:hover {
    background-color: var(--srcery-palette-secondary-xgray2);
}

.nav-button:active {
    animation: navButtonClick 0.3s ease-out forwards;
}

@keyframes navButtonClick {
    0% {
        transform: scale(1); /* Initial size */
        background-color: var(
            --srcery-palette-secondary-xgray3
        ); /* Initial color */
    }

    50% {
        transform: scale(1.1); /* Scale up */
        background-color: var(
            --srcery-palette-secondary-hard-black
        ); /* Darker color */
    }

    100% {
        transform: scale(1); /* Return to original size */
        background-color: var(
            --srcery-palette-secondary-xgray3
        ); /* Back to original color */
    }
}

.hr-solid {
    bottom-top: none;
    border-bottom: 1px solid var(--srcery-palette-primary-black);
    margin-bottom: 1rem;
    width: 100%;
}
