
<div class=image-container>
    <div class="image-item">
        <h1>Pictures taken by Migada Perera</h1>
        <button hx-get="/main" hx-target="#theBody" hx-swap="innerHTML">Main Page</button>
        <button onclick="window.location.href='/logout';">Logout</button>
    </div>
    {{ range .data }}
    <div class=image-item>
        <a hx-get="/detail?path={{ .FilePath }}" hx-target="#theBody" hx-swap="innerHTML">
            <img src="/{{ .FilePath }}" alt="{{ .Description }}">
        </a>
    </div>
    {{ end }}
</div>





