<div class=image-container>
    <div class=image-item>
        <h1>Pictures taken by Migada Perera</h1>
        <button onclick="window.location.href='/logout';">Logout</button>
        <button hx-get="/admin" hx-target="#theBody" hx-swap="innerHTML">Admin Page</button>
        <button hx-get="/login" hx-target="#theBody" hx-swap="innerHTML">Login Page</button>
        <button hx-get="/signup" hx-target="#theBody" hx-swap="innerHTML">Signup Page</button>
        <button hx-get="/allimages" hx-target="#theBody" hx-swap="innerHTML">allimages Page</button>
    </div>
</div>